header
    - if(meta.page_title)
        h1= meta.page_title
    - else if(meta.page_subTitle)
        h1= meta.page_subTitle + " - " + meta.site_title
    - else if(meta.art && meta.art.title)
        h1= meta.art.title + " - " + meta.site_title
    - else
        h1= meta.site_title
    - if(meta.user_name)
        span Hello! #{meta.user_name}
        span
            a(href="/admin/logout") Logout
        span
            a(href="/admin") admin panel
    - else
        span
            a(href="/admin/login") Login
    nav
        span
            a(href="/") Home
        span  | 
        span
            a(href="..") Back
hr